<mat-card class="user-media">
  <mat-card-title class="user-media-title-wrapper">
    <p class="user-media-title">Media</p>
    <app-date-menu></app-date-menu>
  </mat-card-title>

  <mat-card-content class="medial-items-wrapper">
    <div class="medial-item">
      <img src="./assets/user/profile/posts.svg">
      <p class="media-title">194</p>
      <p class="media-subtitle">Posts</p>
    </div>
    <div class="medial-item">
      <img src="./assets/user/profile/projects.svg">
      <p class="media-title">554</p>
      <p class="media-subtitle">Projects</p>
    </div>
    <div class="medial-item">
      <img src="./assets/user/profile/followers.svg">
      <p class="media-title">12.8k</p>
      <p class="media-subtitle">Followers</p>
    </div>
    <div class="medial-item">
      <img src="./assets/user/profile/following.svg">
      <p class="media-title">1.1k</p>
      <p class="media-subtitle">Following</p>
    </div>
  </mat-card-content>
</mat-card>
