@import "src/app/styles/font";
@import "src/app/styles/colors";

.example-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.example-input-title {
  margin: 0 0 5px 0;
  font-size: $fs-normal;
  color: $dark-grey;
}

.example-form-field {
  width: 50%;
  font-size: $fs-normal;
}

.example-right-align {
  text-align: right;
}

.mat-icon {
  margin-right: 8px;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}
