@import "src/app/styles/colors";
@import "src/app/styles/font";

.card {
  margin-top: 24px;
}

.card-title {
  font-size: $fs-regular;
  color: $grey;
  font-weight: $fw-lighter;
  margin-bottom: 8px;
}

.card-subtitle {
  font-size: $fs-normal;
  color: $dark-grey;
  font-weight: $fw-lighter;
  margin-bottom: 24px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-self: center;
  font-size: $fs-regular;
  color: $dark-grey;
  font-weight: $fw-lighter;
  padding: 0 24px 0 24px;
}

.table-header-title {
  margin: 0;
  line-height: 36px;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
}

.col-header {
  font-size: $fs-normal;
  color: $dark-grey;
  font-weight: $fw-normal;
  padding: 14px 40px 14px 24px;
}

.col-body {
  font-size: $fs-small;
  color: $dark-grey;
  font-weight: $fw-lighter;
  padding: 14px 40px 14px 24px;
}

