<app-breadcrumb [path]="routes.CHANGE_PASSWORD"></app-breadcrumb>

<mat-card class="card">
  <mat-card-title>
    <h4 class="h4">Change password</h4>
  </mat-card-title>

  <mat-card-content [formGroup]="form">
    <div class="input-wrapper">
      <p class="input-title">Current Password</p>
      <mat-form-field appearance="legacy" class="input-field">
        <input
          matInput
          formControlName="currentPassword"
          type="password"
          class="input-text"
        />
      </mat-form-field>
    </div>
    <div class="input-wrapper">
      <p class="input-title">New Password</p>
      <mat-form-field appearance="legacy" class="input-field">
        <input
          matInput
          formControlName="newPassword"
          type="password"
          class="input-text"
        />
      </mat-form-field>
    </div>
    <div class="input-wrapper">
      <p class="input-title">Confirm New Password</p>
      <mat-form-field appearance="legacy" class="input-field">
        <input
          matInput
          formControlName="confirmPassword"
          type="password"
          class="input-text"
        />
      </mat-form-field>
    </div>

    <button (click)="onChangePassword()" mat-flat-button color="success">
      Change password
    </button>
    <button (click)="onCancel()" mat-flat-button color="default">Cancel</button>
  </mat-card-content>
</mat-card>
