<mat-card>
  <mat-card-title>
    <p>Example buttons</p>
  </mat-card-title>
  <mat-card-content>
    <div style="display: flex; flex-wrap: wrap;">
      <button mat-flat-button color="primary">Primary</button>
      <button mat-flat-button color="accent">Accent</button>
      <button mat-flat-button color="warn">Warning</button>
      <button mat-flat-button color="success">Success</button>
      <button mat-flat-button color="info">Info</button>
      <button mat-flat-button>Default</button>
    </div>
  </mat-card-content>
</mat-card>
