<mat-card>
  <mat-card-title>
    <p>Default Form</p>
  </mat-card-title>

  <mat-card-content class="card-content">
    <div class="input-wrapper">
      <p class="input-title">Search type input</p>
      <p>
        <mat-form-field>
          <input matInput placeholder="Search">
        </mat-form-field>
      </p>
    </div>

    <div class="input-wrapper">
      <p class="input-title">Outlined input</p>
      <p>
        <mat-form-field appearance="outline">
          <input matInput>
        </mat-form-field>
      </p>
    </div>

    <div class="input-wrapper">
      <p class="input-title">Filled input</p>
      <p>
        <mat-form-field appearance="fill">
          <input matInput>
        </mat-form-field>
      </p>
    </div>
  </mat-card-content>
</mat-card>
