<app-breadcrumb [path]="routes.WIDGET"></app-breadcrumb>

<div class="content-wrapper">
  <mat-card class="card">
    <mat-card-title>
      <p>Simple Widget</p>
    </mat-card-title>

    <mat-card-subtitle>
      <p>
        It appears in the top of the page container. It have to be the first component after return statement.
      </p>
    </mat-card-subtitle>

    <mat-card-content>
      <mat-card class="inner-card">
        <mat-card-content>
          <mat-card class="inner-card">
            <mat-card-title>
              <p>Simple Widget</p>
            </mat-card-title>

            <mat-card-subtitle>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, rem?</p>
            </mat-card-subtitle>

            <mat-card-content class="code-wrapper">
              <pre>
<code class="text-primary">{{'<'}}mat-card{{'>'}}</code>
  <code class="text-info">{{'<'}}mat-card-title{{'>'}}</code>
    <code class="text-warn">{{'<'}}p{{'>'}}</code>Simple Widget<code class="text-warn">{{'<'}}/p{{'>'}}</code>
  <code class="text-info">{{'<'}}/mat-card-title{{'>'}}</code>

  <code class="text-info">{{'<'}}mat-card-subtitle{{'>'}}</code>
    <code class="text-warn">{{'<'}}p{{'>'}}</code>
      Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. A, rem?
    <code class="text-warn">{{'<'}}/p{{'>'}}</code>
  <code class="text-info">{{'<'}}/mat-card-subtitle{{'>'}}</code>
<code class="text-primary">{{'<'}}/mat-card{{'>'}}</code>
              </pre>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-title>
      <p>Page Title</p>
    </mat-card-title>

    <mat-card-subtitle>
      <p>
        It appears in the top of the page container. It have to be the first component after return statement.
      </p>
    </mat-card-subtitle>

    <mat-card-content>
      <pre>
<code class="text-primary">{{'<'}}mat-card-title{{'>'}}</code>
  <code class="text-warn">{{'<'}}p{{'>'}}</code>Simple Widget<code class="text-warn">{{'<'}}/p{{'>'}}</code>
<code class="text-primary">{{'<'}}/mat-card-title{{'>'}}</code>
      </pre>
    </mat-card-content>
  </mat-card>
</div>

