<mat-card class="card">
  <mat-card-title>
    <p>Files</p>
  </mat-card-title>

  <mat-card-content mat-align-tabs="start">
    <mat-tab-group color="warn">
      <mat-tab label="Work">
        <div class="folders-wrapper">
          <div class="folder folder-blue" [ngClass]="{'folder-dark-blue': isDarkMode}">
            <p class="folder-title">UX</p>
            <p class="folder-subtitle">178 files</p>
          </div>

          <div class="folder folder-pink" [ngClass]="{'folder-dark-pink': isDarkMode}">
            <p class="folder-title">Design</p>
            <p class="folder-subtitle">154 files</p>
          </div>

          <div class="folder folder-green" [ngClass]="{'folder-dark-green': isDarkMode}">
            <p class="folder-title">Mobile</p>
            <p class="folder-subtitle">98 files</p>
          </div>

          <div class="folder folder-yellow" [ngClass]="{'folder-dark-yellow': isDarkMode}">
            <p class="folder-title">Illustration</p>
            <p class="folder-subtitle">154 files</p>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Private">
        <div class="folders-wrapper">
          <div class="folder folder-blue" [ngClass]="{'folder-dark-blue': isDarkMode}">
            <p class="folder-title">UX</p>
            <p class="folder-subtitle">178 files</p>
          </div>

          <div class="folder folder-pink" [ngClass]="{'folder-dark-pink': isDarkMode}">
            <p class="folder-title">Design</p>
            <p class="folder-subtitle">154 files</p>
          </div>

          <div class="folder folder-green" [ngClass]="{'folder-dark-green': isDarkMode}">
            <p class="folder-title">Mobile</p>
            <p class="folder-subtitle">98 files</p>
          </div>

          <div class="folder folder-yellow" [ngClass]="{'folder-dark-yellow': isDarkMode}">
            <p class="folder-title">Illustration</p>
            <p class="folder-subtitle">154 files</p>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Social">
        <div class="folders-wrapper">
          <div class="folder folder-blue" [ngClass]="{'folder-dark-blue': isDarkMode}">
            <p class="folder-title">UX</p>
            <p class="folder-subtitle">178 files</p>
          </div>

          <div class="folder folder-pink" [ngClass]="{'folder-dark-pink' : isDarkMode}">
            <p class="folder-title">Design</p>
            <p class="folder-subtitle">154 files</p>
          </div>

          <div class="folder folder-green" [ngClass]="{'folder-dark-green' : isDarkMode}">
            <p class="folder-title">Mobile</p>
            <p class="folder-subtitle">98 files</p>
          </div>

          <div class="folder folder-yellow" [ngClass]="{'folder-dark-yellow' : isDarkMode}">
            <p class="folder-title">Illustration</p>
            <p class="folder-subtitle">154 files</p>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
