@import "src/app/styles/variables";

.forms-wrapper {
  display: flex;
  margin-top: 24px;
  width: 100%;

  @media (max-width: $small) {
    flex-wrap: wrap;
  }
}

.right-from-wrapper {
  @media (max-width: $small) {
    margin-top: 24px;
  }
}

.left-from, .right-from-wrapper, .right-from {
  width: 50%;

  @media (max-width: $small) {
    width: 100%;
  }
}

.left-from {
  margin-right: 24px;

  @media (max-width: $small) {
    margin-right: 0;
  }
}

.right-from {

  @media (max-width: $small) {
    margin-left: 0;
    margin-top: 36px;
  }
}
