<mat-card class="card">
  <mat-card-title>
    <p>Top 5 react native starter kits</p>

    <div class="wrapper">
      <div class="article-img-wrapper">
        <img src="./assets/user/profile/article-logo.png" alt="article-logo" style="width: 100%">
      </div>

      <div class="article-text-wrapper">
        <p class="article-writer">Nastassia Ovchinnikova</p>
        <p class="article-text">
          React Native allows us to create a boilerplate that have been crafted for both platforms. The ability
          to create an app both for Android and iOS...
        </p>

        <div class="article-info-wrapper">
          <p class="article-info">11 Feb 2019 | 5 min read</p>
          <mat-icon color="accent" class="article-icon">bookmark</mat-icon>
        </div>
      </div>
    </div>
  </mat-card-title>
</mat-card>
