<app-breadcrumb [path]="routes.PIE_CHARTS"></app-breadcrumb>

<div class="cards-wrapper">
  <mat-card class="card">
    <mat-card-title>
      <p>Apex Basic Pie Chart</p>
    </mat-card-title>
    <app-simple-pie-chart></app-simple-pie-chart>
  </mat-card>

  <mat-card class="card">
    <mat-card-title>
      <p>Apex Basic Donut Pie Chart</p>
    </mat-card-title>
    <app-pie-chart [pieChartData]="pieChartData$ | async"></app-pie-chart>
  </mat-card>
</div>

<div class="cards-wrapper">
  <mat-card class="card">
    <mat-card-title>
      <p>Apex Dynamic Pie Chart</p>
    </mat-card-title>
    <app-update-pie-chart></app-update-pie-chart>
  </mat-card>

  <mat-card class="card">
    <mat-card-title>
      <p>Apex Monochrome Pie Chart</p>
    </mat-card-title>
    <app-monochome-pie-chart></app-monochome-pie-chart>
  </mat-card>
</div>
